@import 'styles/colors.scss';
@import 'styles/font.scss';

.wrapper {
  height: 550px;
  background: $bouquet;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 25px;

  & h1 {
    color: $white;
    font-size: $f21;
    font-weight: $fw400;
    font-family: 'Poppins-Regular', sans-serif;
    text-align: center;

    @media screen and (max-width: 1024px) {
      font-size: $f18;
    }

    @media screen and (max-width: 768px) {
      font-size: $f16;
    }
  }

  & img {
    width: 550px;

    @media screen and (max-width: 768px) {
      width: 450px;
    }

    @media screen and (max-width: 480px) {
      width: 400px;
    }
  }
}
