@import './colors.scss';

// Header
$mainBackground: $white;
$logInBackground: $lightPurple;
$signUpBackground: $darkPurple;
$signUpBackgroundShadow: $moreDarkPurple;

// Footer
$footerBackground: $darkBlue;
$borderColor: $darkGrey;
$iconBackground: $lessLightPurple;

// Main

// Welcome
$welcomeBackground: $lightGrey;
$ourStoryBackground: $darkPurple;
$ourStoryBackgroundHover: $purple;
$checkBackground: $green;

// Grand Master
$topicBackground: $lightPurple;
$colorBackground: $darkPurple;

// Additional Resources

// Card
$cardBackground: $darkWhite;
$cardBackgroundHover: $white;
$learnMoreBackground: $lightPurple;
$learnMoreBackgroundHover: $purple;