$white: #fff;
$black: #000;
$purple: #9000FF;
$lightPurple: #F5EDFF;
$lessLightPurple: #9600FF;
$darkPurple: #7C08FF;
$moreDarkPurple: #6f42c1;
$veryDarkPurple: #8029EF;
$lessVeryDarkPurple: #B074FF;
$darkBlue: #1c2a44;
$lightGrey: #F0F6F9;
$lessDarkGrey: #797979;
$darkGrey: #343a40;
$lightPink: #F188E0;
$darkPink: #F4648B;
$lessVeryDarkPink: #F561C0;
$veryDarkPink: #F56690;
$green: #1EC997;