$white: #fff;
$darkWhite: #f8f9fa;
$black: #000;
$purple: #9000ff;
$lightPurple: #f5edff;
$purple200: #9600ff;
$darkPurple: #7c08ff;
$purple400: #6f42c1;
$purple500: #8029ef;
$purple400: #b074ff;
$darkBlue: #1c2a44;
$lightGrey: #f0f6f9;
$grey200: #d8dde0;
$grey400: #797979;
$darkGrey: #343a40;
$lightPink: #f188e0;
$darkPink: #f4648b;
$pink400: #f561c0;
$pink500: #f56690;
$green: #1ec997;

// Registration form
$santaGrey: #a1a4b5;
$vividViolet: #7c08ff;
$softPurple: #b464a6;
$purpleBlue: #6610f2;

// Login form
$dirtyPink: #d57c77;
$vibrantGreen: #00cc00;

$lightBlue: #019ff8;
$sideBackground: #e2f3fc;
