// fonts constants
// Font Weight
$f8: 8px;
$f10: 10px;
$f12: 12px;
$f14: 14px;
$f16: 16px;
$f18: 18px;
$f20: 20px;
$f22: 22px;
$f24: 24px;
$f26: 26px;
$f28: 28px;
$f30: 30px;
$f60: 60px;

//Font Weight
$fw400: 400;
$fw500: 500;
$fw700: 700;
$fw600: 600;
$fw900: 900;

