@import '../../../../styles/colors.scss';
@import '../../../../styles/font.scss';

.container {
  margin: 0 15px;
  background: $purple;
  border-radius: 0 0 20px 20px;

  img {
    display: block;
    width: 100%;
  }
}

.nameContainer {
  text-align: center;
  font-weight: 600;
  color: $white;
  font-size: $f20;
  margin-top: 20px;
}

.name {
  text-decoration: none;
  color: $white;
}

.paymentContainer {
  text-align: center;
  color: $white;
  margin: -10px;
  padding: 10px;
  font-size: $f16;
  line-height: 26px;
}
