@import '../../../styles/colors.scss';
@import '../../../styles/font.scss';

.header {
  display: flex;
  flex-direction: row;
  background: $white;
  width: 1060px;
  padding: 30px 30px 45px 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 74px rgb(0 0 0 / 8%);
  margin-top: 30px;
  border: 1px solid #d8dde0;
}

.itemContainer {
  margin-left: 30px;
}

.inputContainer {
  margin-top: 20px;
  width: 400px;
  display: flex;
  justify-content: center;
}

.input {
  width: 100%;
  font-weight: $fw400;
  font-size: $f20;
  letter-spacing: 0;
  padding: 0.5em 0.5em;
  border-color: $grey400;
  color: $grey400;
  border-radius: 0.25rem;
}

.logoHeaderContainer {
  background-image: url('../../../assets/svg/custom-30.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 210px;
  height: 180px;
  display: flex;
  margin-left: 180px;
}

