@import '../../../styles/colors.scss';
@import '../../../styles/font.scss';

.header {
  background: $white;
  padding: 30px 30px 45px 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 74px rgb(0 0 0 / 8%);
  border: 1px solid $grey200;
  background-image: url('../../../assets/svg/custom-30.svg');
  background-repeat: no-repeat;
  background-position: right 10% center;
  background-size: 300px 300px;
}

.inputContainer {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  width: 50%;
}

@media (max-width: 768px) {
  .header {
    background-size: 225px 225px;
    background-position: right 5% center;
  }
}

@media (max-width: 550px) {
  .header {
    background-image: none;
    padding: 20px;
  }

  .inputContainer {
    width: 100%;
    margin-top: 0;
  }
}
