@import '../../styles/colors.scss';
@import '../../styles/font.scss';

.pageContainer {
  width: 100%;
  min-height: 100vh;
  background: $lightPurple;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 20px;
}

.editTestContainer {
  color: $darkGrey;
}

.headerContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.questionsContainer {
  background: $white;
  padding: 10px 30px 30px 30px;
  border-radius: 5px;
  box-shadow: 0px 4px 74px rgb(0 0 0 / 8%);
  border: 1px solid $grey200;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.addQuestionContainer {
  .button {
    padding: 0 25px;
    line-height: 25px;
    cursor: pointer;
    background: $lightPurple;
    height: 42px;
    color: $purple;
    transition: all 0.5s ease-out;
    font-size: $f14;
    font-weight: $fw500;
    margin-left: 5px;
    transition: all 0.5s ease-out;
    &:hover {
      transition: all 0.5s ease-out;
      background: $darkPurple;
      color: $white;
    }
  }
}

.saveTestsContainer {
  display: flex;
  justify-content: center;
  .button {
    padding: 0 20px;
    line-height: 35px;
    min-height: 25px;
    cursor: pointer;
    background: $darkPurple;
    height: 42px;
    border-radius: 6px;
    color: $white;
    transition: all 0.5s ease-out;
    font-size: $f14;
    font-weight: $fw500;
    margin-left: 5px;
    transition: all 0.5s ease-out;
    &:hover {
      box-shadow: 0 0 1px 0 $purple400 inset, 0 0 1px 2px $purple400;
      transition: all 0.5s ease-out;
      background: $darkPurple;
    }
  }
}

.button {
  height: 50px;
}

@media (max-width: 500px) {
  .questionsContainer {
    padding: 20px;
  }
}

@media (max-width: 425px) {
  .buttonsContainer {
    flex-direction: column;
    align-items: flex-end;
    row-gap: 20px;
  }

  .saveTestsContainer {
    display: flex;
    justify-content: flex-end;
  }
}
