@import '../../../styles/colors.scss';
@import '../../../styles/font.scss';

.container {
  width: 100%;
}

.content {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
  width: 1130px;
  margin: 0 auto;
}

.info {
  color: $grey400;
  margin-bottom: 10px;
  font-size: $f16;
  line-height: 26px;
}

.adminContainer {
  margin-top: 15px;
}

.admin {
  margin-bottom: 10px;
  font-size: $f16;
  line-height: 26px;
}

.imgContainer {
  width: 500px;
}

.colorBackground {
  width: 252px;
  height: 308px;
  background: $darkPurple;
  border-radius: 10px;
  margin-left: 300px;
}

.studentsImg {
  position: absolute;
  margin-top: 20px;
  margin-left: 138px;
  border-radius: 10px;
}

@media screen and (max-width: 1280px) {
  .content {
    width: auto;
    padding: 65px 15px;
    max-width: 1000px;
  }

  .colorBackground {
    margin-left: 260px;
  }

  .studentsImg {
    margin-left: 138pxs;
  }
}

@media screen and (max-width: 1024px) {
  .imgContainer {
    width: auto;
  }

  .studentsImg {
    margin-left: 0;
    right: 15px;
    max-width: 40%;
  }

  .colorBackground {
    display: none;
  }

  .grandMasterContainer {
    max-width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  .grandMasterContainer {
    max-width: 100%;
  }
  .studentsImg {
    display: none;
  }
}
