@import 'styles/colors.scss';
@import 'styles/font.scss';

td {
  text-align: center;
  padding: 1rem;
  vertical-align: middle;
  color: $santaGrey;
  font-weight: $fw400;
}

.statusLabel span {
  color: $white;
}
