@import '../../styles/colors.scss';

.sidebarList {
  margin-bottom: 20px;

  .sidebarItem {
    font-size: 1.143rem;
    padding: 0 15px;

    .sidebarLink {
      color: #7f839a;
      font-weight: 400;
      line-height: 25px;
      padding: 10px 10px;
      display: flex;
      align-items: center;
      width: 100%;

      &:hover {
        color: $lightBlue;
      }
    }

    .sidebarIcon {
      width: 18px;
      display: inline-block;
      margin-right: 10px;
    }
  }
}

