.wrapper {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.topics {
  flex-basis: 35%;
  transition: flex-basis ease-in 0.25s;

  &__shrink {
    flex-basis: 5%;
  }
}

.lesson {
  position: relative;
  flex-basis: 60%;
  padding-top: 20px;
  background-color: #fff;
  border-radius: 20px;
  transition: flex-basis ease-in 0.25s;

  &__full {
    flex-basis: 90%;
  }

  &__form {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 15px;

    @media screen and (max-width: 768px) {
      margin-top: 30px;
    }
  }
}

.fullScreen {
  position: absolute;
  right: 5%;
  font-size: 1.25rem;
  transition: all ease-out 0.25s;
  cursor: pointer;

  &:hover {
    color: #9000ff;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}
