.container {
  width: 800px;
  margin-top: 30px;
  padding: 40px 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 74px rgb(0 0 0 / 8%);
  width: #fff;
}

.headerContainer {
  margin-bottom: 25px;
}

.header {
  font-size: 20px;
  font-weight: 600;
}

.inputContainer {
  display: flex;
  justify-content: row;
}

.minAgeContainer {
  width: 60px;
}

.range {
  margin-left: 20px;
  margin-top: 5px;
  font-weight: 600;
  font-size: 18px;
}

.maxAgeContainer {
  margin-left: 20px;
  width: 60px;
}
