.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explanationContainer {
  max-width: 600px;
  text-align: center;
}

.cardsContainer {
  display: flex;
  max-width: 1130px;
  margin-top: 35px;
}

.cardContainer {
  flex: 0 0 33.33%;
}

@media screen and (max-width: 1280px) {
  .cardsContainer {
    max-width: 1000px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    display: block;
  }
  .content {
    align-items: normal;
    padding: 0 15px;
  }
  .cardsContainer {
    flex-direction: column;
  }
  .cardContainer {
    flex: 0 0 100%;
    margin-bottom: 35px;
  }
}
