@import 'styles/colors.scss';
@import 'styles/font.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconsWrap {
  display: flex;
  justify-content: space-between;

  & svg {
    width: 15px;
    height: 15px;
    margin-right: 15px;
    border: 2px solid transparent;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;

    @media screen and (max-width: 480px) {
      width: 13px;
      height: 13px;
    }

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
      padding: 5px;
      border-radius: 50%;
    }

    & path {
      fill: $coolGrey;
    }
  }
}

.shareWrap {
  display: flex;
  border-bottom: 2px solid transparent;
  cursor: pointer;

  &:hover {
    box-shadow: rgba(135, 172, 183, 0.8) 0px 10px 10px -10px;
  }

  & span {
    display: flex;
    text-align: center;
    color: $gulfStream;
    font-size: $f14;
    font-family: 'Poppins-Regular', sans-serif;
    font-weight: $fw600;

    @media screen and (max-width: 480px) {
      font-size: $f13;
    }
  }

  & svg {
    width: 18px;
    height: 18px;
    margin-right: 5px;

    @media screen and (max-width: 480px) {
      width: 15px;
      height: 15px;
    }

    & path {
      fill: $gulfStream;
    }
  }
}

.imageWrap {
  height: 175px;
  max-width: 175px;
  padding: 10px;
  border-radius: 50%;
  background-color: $white;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

  & img {
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  @media screen and (max-width: 768px) {
    height: 150px;
    max-width: 150px;
  }
}

.contentWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.descriptionWrap {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
  height: 60px;

  .title {
    font-size: $f28;
  }

  & span {
    color: $regentGrey;
    font-size: $f14;
  }
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  display: flex;
  align-items: center;
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }

  & span {
    font-family: 'Poppins-Regular', sans-serif;
    margin-left: 10px;
    color: $regentGrey;
    font-size: $f14;
  }
}

.infoWrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  & img {
    width: 25px;
    height: 25px;
  }
}

.teacherInfoWrap {
  width: 100%;
  margin-top: 50px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: $white;
  box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
  border-radius: 5px;
  box-sizing: border-box;

  & h2,
  p {
    font-family: 'Poppins-Regular', sans-serif;
  }

  & h2 {
    margin: 10px 10px 10px 0;
    font-size: $f18;
    font-weight: $fw600;
    color: $softPurple;

    @media screen and (max-width: 480px) {
      font-size: $f16;
    }
  }

  & p {
    font-size: $f14;
    line-height: 1.7;
    color: $grape;

    @media screen and (max-width: 480px) {
      font-size: $f13;
    }
  }
}

.margin {
  margin-top: 10px;
}

.biography {
  color: $grape;
  padding: 10px;
  text-align: justify;
}

.subscribeBtn {
  width: 175px;
  height: 45px;
  border: none;
  background-color: $purple400;
  margin: 25px 0;
  text-transform: uppercase;
  color: $white;
  font-family: 'Poppins-Regular', sans-serif;
  font-size: $f14;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: $purple500;
  }
}

.blocksWrap {
  display: flex;
  justify-content: space-between;
}

.biographyBlock {
  display: flex;
  align-items: center;
  & svg {
    margin-right: 10px;
    font-size: $f20;

    @media screen and (max-width: 480px) {
      font-size: $f16;
    }

    & path {
      fill: $softPurple;
    }
  }
}

.iconsAndEmailWrap {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;

  & svg {
    font-size: $f20;

    @media screen and (max-width: 480px) {
      font-size: $f16;
    }

    & path {
      fill: $softPurple;
    }
  }
}
