.contentWrapper {
  background-color: transparent;
  margin-left: 20rem;
  padding: 50px 2rem 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
  .contentWrapper {
    margin-left: 15rem;
    padding: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .contentWrapper {
    margin-left: 0;
    padding: 2rem 15px;
  }
}

@media screen and (max-width: 768px) {
  .contentWrapper {
    overflow-x: auto;
  }
}
