.root {
  & tr {
    width: 100%;
    height: 50px;
  }

  & td {
    padding: 0;
    font-size: 15px;
    font-family: 'Poppins-Regular', sans-serif;
  }

  & tr:nth-child(even) {
    background-color: #f6eff5;
  }

  & th {
    width: 250px;
  }

  & th:last-child {
    width: 100px;
  }
}

.btnWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  & svg {
    & path {
      fill: #a968a3;
    }
  }
}
