@import '../../../../styles/colors.scss';
@import '../../../../styles/background.scss';
@import '../../../../styles/font.scss';

.explanation {
    margin: 0 0 10px 0;
    font-size: $f16;
    line-height: 26px;
    color: $lessDarkGrey;
}