.levelItem {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 1366px) {
  .levelItem button {
    font-size: 0.65rem;
  }
}

@media screen and (max-width: 480px) {
  .levelItem {
    margin-right: 5px;

    button {
      font-size: 0.6rem;
      padding: 3px 5px;
    }
  }
}
