.levelItem {
  margin-right: 15px;
  font-size: 0.8rem;

  &:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 1680px) {
  .levelItem {
    button {
      font-size: 0.75rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .levelItem {
    margin-right: 5px;

    button {
      padding: 5px;
    }
  }
}
