.meetRoom {
  width: 300px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
  border-radius: 5px;
  z-index: 999;
}
