@import 'styles/colors.scss';

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  padding: 5px;
  cursor: pointer;
  outline: 1px solid #bbbbbb;
}

.dayOfMoth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  color: $grey400;
}

.currentMonth {
  color: #000;
  font-weight: 600;
}

.today {
  background-color: $softPurple;
  border-radius: 50%;
}

// .preview {
//   display: flex;
//   flex-direction: column;
//   row-gap: 5px;
//   font-size: 12px;
//   padding: 5px;
//   &__item {
//     padding-left: 3px;
//     background-color: $softPurple;
//     border-radius: 5px;
//   }
// }

.banner {
  padding: 5px;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
  background-color: $softPurple;
}
