@import '../../../styles/colors.scss';
@import '../../../styles/background.scss';
@import '../../../styles/font.scss';

$girl: "../../../assets/images/girl.jpeg";
$johnDoe: "../../../assets/images/john-doe.jpeg";

.container {
    background: $welcomeBackground;
    width: 100%;
    height: 78vh;
}

.content {
    display: flex;
    justify-content: center;
    padding-top: 120px;
}

.welcomeInfo {
    width: 500px;
}

.university {
    color: $white;
    background: linear-gradient(210.43deg, $lightPink 6.94%, $darkPink 57.69%);
    min-height: 58px;
    line-height: 58px;
    width: 175px;
    text-align: center;
    display: inline-block;
    border-radius: 90px;
    text-transform: uppercase;
    font-weight: $fw600;
    letter-spacing: 2px;
}

.titleContainer {
    margin-top: 15px;
}

.title {
    font-size: $f60;
    font-weight: $fw600;
    margin: 0;
    padding: 0;
}

.future {
    color: $purple;
}

.info {
    color: $lessDarkGrey;
    font-size: 20px;
    line-height: 30px;
}

.ourStoryContainer {
    cursor: pointer;
    min-height: 55px;
    line-height: 55px;
    color: $white;
    background: $ourStoryBackground;
    font-weight: 500;
    border-radius: 5px;
    text-align: center;
    width: 150px;
    display: flex;
    justify-content: center;
    transition: all .5s ease-out;
    &:hover {
        background: $ourStoryBackgroundHover;
        box-shadow: 0 0 1px 0 $purple inset, 0 0 1px 2px $purple;
        transition: all .5s ease-out;
    }
}

.arrow {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.imagesContainer {
    background-image: url(#{$girl});
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    width: 500px;
    margin-left: 30px;
}

.bannerCourseContainer {
    display: flex;
    flex-direction: column;
    margin-left: 380px;
    width: 50px;
    height: 70px;
    align-items: center;
    background: linear-gradient(180deg, $veryDarkPurple 0%, $lessVeryDarkPurple 100%);
    border-radius: 10px;
    backdrop-filter: blur(12px);
    padding: 10px 56px;
    color: $white;
}

.numbersOfCourses {
    font-weight: $fw600;
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 34px;
}

.course {
    margin-bottom: 10px;
    font-size: $f16;
    line-height: 26px;
}

.instructorContainer {
    background: linear-gradient(180deg, $veryDarkPink 0%, $lessVeryDarkPink 100%);
    backdrop-filter: blur(12px);
    border-radius: 10px;
    padding: 24px 32px;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 190px;
}

.instructorImage {
    width: 70px;
    height: 70px;
    background-image: url(#{$johnDoe});
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    display: flex;
    justify-content: end;
}

.checkContainer {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $checkBackground;
    display: flex;
    justify-content: center;
}

.check {
    display: flex;
    align-self: center;
}

.name {
    padding-top: 10px;
    margin: 0;
    color: $white;
    font-weight: $fw600;
    font-size: $f18;
    line-height: 28px;
}

.profession {
    color: $white;
    margin: 0;
    margin-bottom: 10px;
    font-size: $f16;
    line-height: 26px;
}
