@import '../../../styles/colors.scss';
@import '../../../styles/font.scss';

$girl: '../../../assets/images/girl.jpeg';
$johnDoe: '../../../assets/images/john-doe.jpeg';

.container {
  background: $lightGrey;
  width: 100%;
  height: 78vh;
}

.content {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
  width: 1130px;
  margin: 0 auto;
}

.welcomeInfo {
  width: 500px;
}

.university {
  color: $white;
  background: linear-gradient(210.43deg, $lightPink 6.94%, $darkPink 57.69%);
  min-height: 58px;
  line-height: 58px;
  width: 175px;
  text-align: center;
  display: inline-block;
  border-radius: 90px;
  text-transform: uppercase;
  font-weight: $fw600;
  letter-spacing: 2px;
}

.titleContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.title {
  font-size: $f60;
  font-weight: $fw600;
  margin: 0;
  padding: 0;
}

.future {
  color: $purple;
}

.infoContainer {
  margin-bottom: 40px;
}

.info {
  color: $grey400;
  font-size: 20px;
  line-height: 30px;
}

.ourStoryContainer {
  cursor: pointer;
  min-height: 55px;
  line-height: 55px;
  color: $white;
  background: $darkPurple;
  font-weight: $fw500;
  border-radius: 5px;
  text-align: center;
  width: 150px;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-out;
  &:hover {
    background: $purple;
    box-shadow: 0 0 1px 0 $purple inset, 0 0 1px 2px $purple;
    transition: all 0.5s ease-out;
  }
}

.ourStory {
  text-decoration: none;
  color: $white;
}

.arrow {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.faArrowRight {
  width: 15px;
  height: 15px;
  color: $white;
}

.imagesContainer {
  background-image: url(#{$girl});
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  margin-left: 30px;
}

.bannerCourseContainer {
  display: flex;
  flex-direction: column;
  margin-left: 380px;
  width: 50px;
  height: 80px;
  align-items: center;
  background: linear-gradient(180deg, $purple500 0%, $purple400 100%);
  border-radius: 10px;
  backdrop-filter: blur(12px);
  padding: 10px 56px;
  color: $white;
}

.numbersOfCourses {
  font-weight: $fw600;
  margin: 0;
  padding: 0;
  font-size: $f24;
  line-height: 34px;
}

.course {
  margin-bottom: 10px;
  font-size: $f16;
  line-height: 26px;
}

.instructorContainer {
  background: linear-gradient(180deg, $pink500 0%, $pink400 100%);
  backdrop-filter: blur(12px);
  border-radius: 10px;
  padding: 24px 32px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 190px;
}

.instructorImage {
  width: 70px;
  height: 70px;
  background-image: url(#{$johnDoe});
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  display: flex;
  justify-content: flex-end;
}

.checkContainer {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: $green;
  display: flex;
  justify-content: center;
}

.check {
  display: flex;
  align-self: center;
  width: 20px;
  height: 20px;
  color: $white;
}

.name {
  padding-top: 10px;
  margin: 0;
  color: $white;
  font-weight: $fw600;
  font-size: $f18;
  line-height: 28px;
}

.profession {
  color: $white;
  margin: 0;
  margin-bottom: 10px;
  font-size: $f16;
  line-height: 26px;
}
