@import 'styles/colors.scss';

.profile__img {
  width: 125px;
  height: 125px;
  margin: 0 auto;
  object-fit: cover;
  border: 1px solid $softPurple;
  border-radius: 50%;
  cursor: pointer;
}

.profile__content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 400px;
  width: 100%;
  padding: 20px 0;
}
