.avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 30px;
  height: 30px;
}

.img {
  border-radius: 50%;
  width: 100%;
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscriptionsTable {
  position: relative;
  margin-bottom: 1.5rem;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0px;
  box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
}
