.input {
  margin-left: 15px !important;

  label {
    font-size: 1rem;
  }

  input {
    font-size: 1rem;
    height: auto;
  }

  & svg {
    font-size: 20px;
  }
}

.navigationRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.materials {
  .createBtn {
    margin-top: 25px;
    color: #fff;
  }
}

@media screen and (max-width: 1680px) {
  .materialsHeader {
    flex-direction: column;
    align-items: center;
  }

  .createBtn {
    margin-top: 20px !important;
  }

  .materials {
    .createBtn {
      font-size: 0.75rem;
    }

    input {
      font-size: 0.75rem;
    }
  }
}

@media screen and (max-width: 1400px) {
  .input {
    width: 220px !important;
  }
}

@media screen and (max-width: 1100px) {
  .navigationRow {
    flex-direction: column;
    row-gap: 10px;
  }

  .input {
    width: 100% !important;
    margin: 15px 0 0 0 !important;

    & svg {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .materialsHeader {
    justify-content: center;
  }
}
