.materialsHeader {
  display: flex;
  justify-content: space-between;
}

.materialsSearch {
  padding: 10px;
  width: 360px;
  border-radius: 5px;
  border: 1px solid rgb(182, 182, 182);
  float: right;
}

.navigationRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
