@import 'styles/font.scss';

.wrapper {
  & svg {
    font-size: $f16;
  }
}

.headOfModal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
