body {
  background-color: #f6f9fb;
}

.adminMaterials {
  margin-bottom: 50px;

  & h1 {
    font-weight: 600;
    margin-bottom: 35px;
  }
}

.formWrapper {
  background-color: #ffffff;
  padding: 50px 35px;
  border-radius: 5px;
  box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
}

@media screen and (max-width: 768px) {
  .formWrapper {
    padding: 30px 15px;
  }
}
