@import 'styles/colors.scss';
@import 'styles/font.scss';

.wrapper {
  height: 700px;
  background: $vividViolet;
  background: linear-gradient(
    70deg,
    rgba(102, 16, 242, 0.8914916308320203) 0%,
    rgba(245, 222, 255, 1) 100%
  );
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  & h1 {
    color: $white;
    font-size: $f26;
    font-weight: normal;

    & svg {
      font-size: $f20;
      margin-left: 10px;
    }
  }

  & img {
    display: flex;
    height: 550px;
    width: 600px;
  }
}
