.lessonBody {
  position: relative;
  min-height: calc(100vh - 3rem);
  padding: 3rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
  transition: all 0.25s ease;
  box-sizing: border-box;

  .lessonTitle {
    margin: 0 0 35px;
    padding-bottom: 25px;
    font-weight: 600;
    font-size: 1.85rem;
    border-bottom: 1px solid #f0f3f6;
  }

  p,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 15px;
  }

  p {
    font-size: 1.15rem;
    line-height: 1.5;
  }
}

@media screen and (max-width: 1680px) {
  .lessonBody {
    p {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 1680px) {
  .lessonBody {
    padding: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .lessonBody {
    min-height: 100%;
  }
}
