@import '../../../styles/background.scss';
@import '../../../styles/colors.scss';
@import '../../../styles/font.scss';

.container {
    width: 100%;
    background: #1c2a44;
    color: $white;
    padding: 120px 0 0;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 70px;
}

.siksha {
    width: 300px;
    margin-right: 50px;
}

.logoContainer {
    width: 130px;
    margin: 0 0 30px;
}

.logo {
    width: 100%;
}

.explanationContainer {
    padding-bottom: 30px;
}

.explanation {
    hyphens: auto;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 26px;
}

.iconsList {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0 0 0 0;
}

.iconItem {
    margin-right: 15px;
    border: 1px solid black;
    background: #fff;
    color: #000;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
}

.icon {
    display: flex;
    align-self: center;
}

.companyContainer {
    margin-left: 100px;
}

.companyHeader {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 32px;
}

.companyInfoList {
    padding: 0;
}

.companyInfoItem {
    list-style-type: none;
    margin-bottom: 5px;
}

.info {
    margin-left: 8px;
    font-size: 15px;
    line-height: 30px;
}
