.calendarWrap {
  display: flex;
  flex-direction: column;
  min-width: 738px;
  min-height: 520px;
  height: calc(100vh - 4rem);
  row-gap: 20px;
  padding: 1.5rem;
  background-color: #fff;
  box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
  border-radius: 5px;
}

@media screen and (max-width: 480px) {
  .calendarWrap {
    padding: 1rem;
  }
}
