@import 'styles/font.scss';

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .title {
    margin-bottom: 25px;
    font-size: $f28;
    font-weight: $fw500;
    font-family: 'Poppins-Regular', sans-serif;
  }
}
