.todo {
  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #f6f9fb;
    border-radius: 5px;
  }

  &__complete {
    text-decoration: line-through;
  }

  &__delete {
    margin: 10px;
    margin-left: 20px;
  }
}
