@import 'styles/colors.scss';

.todo {
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
  }

  &__info {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    padding-left: 20px;
    color: $darkGrey;
    background-color: #f6f9fb;
    border-radius: 5px;
  }

  &__complete {
    text-decoration: line-through;
  }
}

@media (max-width: 400px) {
  .todo {
    &__item {
      column-gap: 0px;
    }

    &__info {
      padding-left: 10px;
    }
  }
}
