.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 120px 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardsContainer {
    display: flex;
}

.cardContainer {
    margin: 0 15px;
}
