@import 'styles/colors.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  margin-top: 25px;
}

.title {
  color: #9000ff;
}

.answerStatus {
  margin-right: 10px;
  margin-left: auto;
}

.answerIcon {
  width: 20px;
  height: 20px;

  &--correct {
    color: $vibrantGreen;
  }

  &--incorrect {
    color: $red;
  }
}
