@import '../../../styles/colors.scss';
@import '../../../styles/font.scss';

.content {
  display: flex;
  width: 70%;
  @media (max-width: 600px) {
    width: 100%;
  }
  background: #58baab;
  padding: 30px;
  border-radius: 5px;
}

.learn {
  color: $white;
  font-weight: $fw600;
  font-size: 2rem;
  line-height: 1.2;
}

.discount {
  margin: 10px 0;
  color: $grey200;
  font-weight: $fw600;
  line-height: 1.5;
}

.countOfUsers {
  display: flex;
  margin-top: 55px;
}

.students {
  display: flex;
}

.iconOfStudentsContainer {
  background: $red;
  border: 1px solid $white;
  display: flex;
  align-self: center;
  padding: 10px;
  border-radius: 50%;
}

.iconOfTeachersContainer {
  background: $lightBlue;
  border: 1px solid $white;
  display: flex;
  align-self: center;
  padding: 10px;
  border-radius: 50%;
}

.iconOfUsers {
  color: $white;
  font-size: 25px;
}

.teachers {
  display: flex;
  margin-left: 30px;
}

.count {
  margin-left: 15px;
}

.nameOfCount {
  color: $white;
  font-size: 1.25rem;
  font-weight: $fw400;
  line-height: 1.2;
}

.totalCount {
  color: $grey200;
  margin-top: 5px;
  font-size: 16px;
}

.right {
  width: 50%;
  @media (max-width: 2000px) {
    width: 100%;
  }
}

.images {
  display: flex;
  width: 100%;
  margin-left: 300px;
}

.cloudBigContainer {
  width: 40px;
  position: absolute;
  margin-top: 5px;
  margin-left: 80px;
}

.cloudBig1Container {
  width: 40px;
  position: absolute;
  margin-top: 5px;
  margin-left: 160px;
}

.cloudBiggestContainer {
  width: 40px;
  position: absolute;
  margin-top: 8px;
  margin-left: 230px;
}

.student1Container {
  width: 50px;
  position: absolute;
  margin-top: 60px;
  margin-left: 60px;
}

.student2Container {
  width: 30px;
  position: absolute;
  margin-top: 60px;
  margin-left: 180px;
}

.student3Container {
  width: 30px;
  position: absolute;
  margin-top: 60px;
  margin-left: 250px;
}

.student1 {
  width: 100%;
  border-radius: 5px;
}

.flatBackgroundContainer {
  width: 55%;
  @media (max-width: 2000px) {
    width: 70%;
  }
}
