@import 'styles/colors.scss';
@import 'styles/font.scss';

.content {
  display: flex;
  justify-content: space-between;
  background: #58baab;
  padding: 30px;
  border-radius: 5px;
}

.headerContainer {
  width: 100%;
}

.learn {
  color: $white;
  font-weight: $fw600;
  font-size: 2rem;
  line-height: 1.2;
}

.discount {
  margin: 10px 0;
  color: $grey200;
  font-weight: $fw600;
  line-height: 1.5;
}

.countOfUsers {
  display: flex;
  margin-top: 55px;
}

.students {
  display: flex;
}

.iconOfStudentsContainer {
  background: $red;
  border: 1px solid $white;
  display: flex;
  align-self: center;
  padding: 10px;
  border-radius: 50%;
}

.iconOfTeachersContainer {
  background: $lightBlue;
  border: 1px solid $white;
  display: flex;
  align-self: center;
  padding: 10px;
  border-radius: 50%;
}

.iconOfUsers {
  color: $white;
  font-size: 25px;
  width: 30px;
  height: 30px;
}

.iconOfMentors {
  color: $white;
  font-size: 25px;
  width: 30px;
  height: 30px;
}

.teachers {
  display: flex;
  margin-left: 30px;
}

.count {
  margin-left: 15px;
}

.nameOfCount {
  color: $white;
  font-size: 1.25rem;
  font-weight: $fw400;
  line-height: 1.2;
}

.totalCount {
  color: $white;
  margin-top: 5px;
  font-size: 25px;
  font-weight: 600;
}

.right {
  width: 50%;
  margin-right: 10%;
}

.images {
  display: flex;
  width: 100%;
  margin-left: 30%;
}

.cloudBigContainer {
  width: 70px;
  position: absolute;
  margin-top: 1%;
  margin-left: 14%;
}

.cloudBig1Container {
  width: 60px;
  position: absolute;
  margin-top: 2%;
  margin-left: 25%;
}

.cloudBiggestContainer {
  width: 48px;
  position: absolute;
  margin-top: 5%;
  margin-left: 32%;
  z-index: 1;
}

.studentBoyContainer {
  width: 3%;
  position: absolute;
  margin-top: 19%;
  margin-left: 10%;
  z-index: 2;
}

.studentGirlAfroAmericanContainer {
  width: 2.7%;
  position: absolute;
  margin-top: 17%;
  margin-left: 25%;
  z-index: 2;
}

.studentGirlContainer {
  width: 2.3%;
  position: absolute;
  margin-top: 17.4%;
  margin-left: 40%;
  z-index: 2;
}

.img {
  width: 100%;
  height: auto;
}

.cityContainer {
  max-width: 50%;
  z-index: 1;
  filter: saturate(90%);
}

@media (max-width: 600px) {
  .content {
    width: 100%;
  }
}

@media (max-width: 1600px) {
  .right {
    width: 70%;
    margin-top: 3%;
  }
}
