@import '../../../styles/colors.scss';
@import '../../../styles/font.scss';

.content {
  display: flex;
  justify-content: space-between;
  width: 70%;
  @media (max-width: 600px) {
    width: 100%;
  }
  background: #58baab;
  padding: 30px;
  border-radius: 5px;
}

.learn {
  color: $white;
  font-weight: $fw600;
  font-size: 2rem;
  line-height: 1.2;
}

.discount {
  margin: 10px 0;
  color: $grey200;
  font-weight: $fw600;
  line-height: 1.5;
}

.countOfUsers {
  display: flex;
  margin-top: 55px;
}

.students {
  display: flex;
}

.iconOfStudentsContainer {
  background: $red;
  border: 1px solid $white;
  display: flex;
  align-self: center;
  padding: 10px;
  border-radius: 50%;
}

.iconOfTeachersContainer {
  background: $lightBlue;
  border: 1px solid $white;
  display: flex;
  align-self: center;
  padding: 10px;
  border-radius: 50%;
}

.iconOfUsers {
  color: $white;
  font-size: 25px;
}

.teachers {
  display: flex;
  margin-left: 30px;
}

.count {
  margin-left: 15px;
}

.nameOfCount {
  color: $white;
  font-size: 1.25rem;
  font-weight: $fw400;
  line-height: 1.2;
}

.totalCount {
  color: $grey200;
  margin-top: 5px;
  font-size: 16px;
}

.right {
  width: 250px;
  transform: scale(1);
  transition: all 0.4s;
  padding: 0px 10px;
}

.images {
  display: flex;
}

.cloud {
  margin-top: 20px;
}

.layer {
  margin-left: 20px;
}

.logoLetterContainer {
  margin-top: 15px;
  margin-left: 60px;
  width: 70px;
}

.logoLetter {
  width: 100%;
}

.learnSvg {
  background-image: url('../../../assets/svg/learn.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

.graduater {
  background-image: url('../../../assets/svg/graduater.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

.book {
  background-image: url('../../../assets/svg/book.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

.school {
  background-image: url('../../../assets/svg/school.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  margin-top: 5px;
}

.japanese {
  background-image: url('../../../assets/svg/japanese.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  margin-top: 4px;
}

.studentsSvg {
  background-image: url('../../../assets/svg/custom-30.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 210px;
  height: 180px;
  margin-top: 4px;
}
