@import 'styles/colors.scss';

.dotsWaiting {
  margin: 0 15px;
  min-width: 40px;
}

.dotElastic {
  position: relative;
  width: 8px;
  height: 8px;
  margin-left: 15px;
  border-radius: 5px;
  background-color: $lightPurple;
  color: $lightPurple;
  animation: dot-elastic 1s infinite linear;
}
.dotElastic::before,
.dotElastic::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}
.dotElastic::before {
  left: -15px;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: $lightPurple;
  color: $lightPurple;
  animation: dot-elastic-before 1s infinite linear;
}
.dotElastic::after {
  left: 15px;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: $lightPurple;
  color: $lightPurple;
  animation: dot-elastic-after 1s infinite linear;
}

@keyframes dot-elastic-before {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.5);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes dot-elastic {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1.5);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes dot-elastic-after {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
