@import '../../../../styles/colors.scss';
@import '../../../../styles/font.scss';
@import '../../../../styles/background.scss';

.container {
    border: 1px solid $white;
    width: 570px;
}

.dataContainer {
    background: linear-gradient(210.43deg, $lightPink 6.94%, $darkPink 57.69%);
    width: 50px;
    height: 70px;
    border-radius: 2px;
    padding: 20px 35px;
    color: $white;
    font-weight: $fw600;
    text-align: center;
    font-size: $f20;
    text-transform: uppercase;
    position: absolute;
    z-index: 1;
    margin-left: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.workContainer {
    margin: 60px 20px 15px;
    padding: 30px;
    box-shadow: 0 -4px 25px rgb(144 0 255 / 7%);
    filter: drop-shadow(0px -4px 25px rgba(144, 0, 255, 0.07));
    z-index: 0;
    width: 530px;
    height: 150px;
}

.titleContainer {
    width: 470px;
}

.title {
    font-weight: $fw600;
    margin: 0;
    padding: 0;
    font-size: $f20;
    line-height: 30px;
}

.explanationContainer {
    width: 320px;
}
