.transactionsTable {
  position: relative;
  margin-bottom: 1.5rem;
  background-color: #ffffff;
  border-radius: 5px;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);

  .transactionsHeader {
    display: block;
    padding: 1.5rem;
    position: relative;
    border-bottom: 1px solid #f0f3f6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  h4 {
    font-size: 1.35rem;
    font-weight: 400;
  }

  .subtitle {
    font-weight: 300;
    margin-bottom: 0px;
    margin-top: 5px;
    color: #7f839a;
  }
}

.transactionsBody {
  table {
    width: 100%;
    border-collapse: collapse;

    td,
    th {
      padding: 1rem;
      font-weight: 600;
    }
  }

  .headerRow th {
    border-bottom: 1px solid #000;
  }
}
