@import 'styles/colors.scss';

.eventBox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.link {
  font-size: 13px;
  color: #019ff8;
}

.eventBlock {
  margin-bottom: 1.5rem;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
  transition: all ease-in-out 0.3s;

  &:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: 0 14px 24px rgb(0 0 0 / 20%);
    transition: all ease-in-out 0.3s;
  }
}

.lesson {
  display: flex;
  align-items: center;
}
