@import '../../styles/colors.scss';

.sidebarMenu {
  display: flex;
  justify-content: center;

  .sidebarList {
    margin-bottom: 20px;

    .sidebarItem {
      font-size: 1.143rem;
      padding: 10px 15px;

      .sidebarLink {
        color: #7f839a;
        font-weight: 400;
        line-height: 25px;
        display: flex;
        align-items: center;
        width: 100%;
        text-decoration: none;

        &:hover {
          color: $purple500;
        }
      }

      .sidebarIcon {
        width: 18px;
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
}
