@import 'styles/colors.scss';
@import 'styles/font.scss';

.todo {
  width: 100%;
  max-height: 500px;
  padding-bottom: 20px;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 0 35px 0 rgb(154 161 171 / 25%);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  &__title {
    color: #000;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
  }

  &__add {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 10px;
    padding: 10px 15px;
  }
}

.noTodo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $coolGrey;
  font-weight: $fw500;
}
