@import 'styles/colors.scss';
.lessonItem {
  margin-bottom: 10px !important;

  .lessonNumber {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    color: #fff;
    font-size: 12px;
    border-radius: 5px;
    background-color: $softPurple;
  }

  .inputWrapper {
    margin-bottom: 25px;
  }
}

.accordionContent {
  display: flex;
  flex-direction: column;
  position: relative;

  .lessonSubmit {
    display: table;
    margin: 35px auto;
    color: #fff;
  }
}

.deleteLesson {
  position: absolute;
  left: 100%;
  top: 12px;
  margin-left: 15px;
  color: #888;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .accordionContent {
    flex-direction: row;
    align-items: center;
  }

  .deleteLesson {
    position: static;
  }
}
