@import 'styles/colors.scss';

.burgerButton {
  display: none;
  background-color: $softPurple;
  border-radius: 5px;
  padding: 2px 5px;
  cursor: pointer;

  .burgerLines {
    color: #fff;
    font-size: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .burgerButton {
    display: block;
  }
}
