.container {
  margin-bottom: 160px;
}

.topicContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explanationContainer {
  width: 470px;
  text-align: center;
}

.sliderContainer {
  max-width: 1130px;
  margin: 40px auto 0;
}

.next {
  position: absolute;
  top: 110%;
  left: 57%;
  margin-right: -57%;
  transform: translate(-57%, 0%);
}

.prev {
  position: absolute;
  top: 110%;
  left: 47%;
  margin-right: -47%;
  transform: translate(-47%, 0%);
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
  .explanationContainer {
    width: auto;
  }
}
