.questionsHeader {
  display: flex;
  justify-content: space-between;
}

.input {
  margin-left: 15px !important;

  label {
    font-size: 1rem;
    line-height: 0.9em;
  }

  input {
    padding: 6.5px 10px;
    font-size: 1rem;
  }

  & svg {
    font-size: 19px;
  }
}

.navigationRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1680px) {
  .questionsHeader {
    align-items: center;
    flex-direction: column;
  }

  .createBtn {
    margin-top: 20px !important;
  }
}

@media screen and (max-width: 1400px) {
  .input {
    width: 220px !important;
  }
}

@media screen and (max-width: 1100px) {
  .navigationRow {
    flex-direction: column;
    row-gap: 10px;
  }

  .input {
    width: 100% !important;
    margin: 15px 0 0 0 !important;

    & svg {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .questionsHeader {
    justify-content: center;
  }
}
