.materials {
  padding: 1.5rem 1.5rem 0px 20%;
}

.filtersContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.inputContainer {
  width: 300px;
}

.input {
  width: 100%;
}
