@import '../../../../styles/colors.scss';
@import '../../../../styles/font.scss';

.container {
  width: 760px;
  margin: 18px 10px;
  padding: 0px 20px;
  border-radius: 5px;
}

.headerContainer {
  margin-bottom: 25px;
}

.header {
  font-size: 20px;
  font-weight: $fw600;
}

.input {
  max-width: 710px;
  min-width: 710px;
  height: 300px;
  padding: 15px 10px;
  font-weight: $fw400;
  font-size: 15px;
  font-family: Arial, sans-serif;
}

.errorContainer {
  color: $red;
  font-size: 12px;
  font-weight: 600;
}
